<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoverMyPingPong!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container grid-960">
      <br>
      <header class="navbar">
        <section class="navbar-section">
          <a href="/" class="navbar-brand mr-10 pr-10">CoverMyPingPong</a>
        </section>
        <section class="navbar-center"></section>
        <section class="navbar-section">
          <%= link "Matches", to: "/matches", class: "btn btn-link" %>
          <%= link "Players", to: "/users", class: "btn btn-link" %>
          <%= link "Rules", to: "/rules", class: "btn btn-link" %>
        </section>
      </header>
      <br><br>

      <div class="columns">
        <div class="column col-12">

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= render @view_module, @view_template, assigns %>

        </div> <!-- /col-12 -->
      </div> <!-- /columns -->
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
