<h3>Listing Matches</h3>

<div class="">
  <div id="match-columns" class="columns">
    <%= for match <- @matches do %>
      <%= render CoverMyPingPong.PageView, "_match.html", match: match %>
    <% end %>
  </div>
</div>

<%= link "New Match", to: game_path(@conn, :new), class: "btn btn-link" %>
