<h3>Add A New Match</h3>

<%= render "form.html", changeset: @changeset,
                        users: @users,
                        action: game_path(@conn, :create) %>

<%= link "Back", to: game_path(@conn, :index), class: "btn btn-link" %>
