/* This file is for your main application css. */
#match-columns {
  justify-content: space-around;
}
#match {
  height: 150px;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 3em;
  border: 1px solid #e6e6e6;
  -webkit-transition: all .2s; /* Safari */
  transition: all .2s;

  &:hover {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
  }
  .match-info {
    margin-bottom: 1em;

    .match-date {
      font-weight: 600;
      text-transform: uppercase;
      color: orange;
    }
    .match-loc {
      font-size: .9em;
      color: grey;
    }
  }
  .match-stats {
    width: 100%;

    .match-player, .match-opponent, .match-score {
      height: 80px;
    }
    .match-player, .match-opponent {
      float: left;
      width: 40%;

      p {
        font-size: 1.1em;
        color: #989898;
      }
      .trophy { font-size: 2em; }
    }
    .match-score {
      float: left;
      width: 20%;
      padding-top: .7em;

      .player-score, .opponent-score {
        font-size: 1.5em;
        font-weight: bold;
      }
      .dash {
        font-size: 1.2em;
        font-weight: bold;
        margin-left: .3em;
        margin-right: .3em;
      }
      .final {
        text-transform: uppercase;
      }
    }
  }
}
#player, #opponent {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100px;
  border: 1px solid lightgrey;
  border-radius: 3px;

  .player-name {
    display: flex;
    position: absolute;
    left: 0;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2em;
    color: #000;
  }
  .player-score {
    display: flex;
    position: absolute;
    right: 0;
    width: 20%;
    height: 80%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-left: 1px solid lightgrey;
    font-size: 2em;
    font-weight: bold;
    color: #000;

    .points-text {
      position: absolute;
      bottom: .35em;
      font-size: .45em;
      font-weight: normal;
      color: grey;
    }
  }
}
.winner-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: #32b643;
  color: #FFF;
}
.loser-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: #e85600;
  color: #FFF;
}
.match-loser {
  border-color: #e85600 !important;

  .player-score {
  }
}
.match-winner {
  border-color: #32b643 !important;

  .player-score {
    border-left-color: #32b643 !important;
    background: rgba(50, 182, 67, 0.10);
  }
}
#versus {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2em;
  font-style: italic;
}
#recent-matches {

  .player {
    position: relative;
    min-height: 50px;
    float: left;
    width: 50%;
    padding: 0;
    border-top: 1px solid lightgrey;

    .player-name {
      display: flex;
      position: absolute;
      width: 80%;
      height: 100%;
      font-size: 1.5em;
      font-family: "Helvetica", sans-serif;
      color: #000;
      justify-content: center;
      align-items: center;
      align-content: center;

      .trophy {
        position: absolute;
        top: .5em;
        right: .8em;
      }

    }
    .player-score {
      display: flex;
      position: absolute;
      right: 0;
      width: 20%;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;

      .points-num {
        font-size: 1.5em;
        font-weight: bold;
      }
      .points-text {
        position: absolute;
        bottom: -.8em;
        font-size: .7em;
        font-weight: normal;
        color: grey;
      }
    }

    .winner {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 20%;
      background: rgba(50, 182, 67, 0.10);
    }
    .loser {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 20%;
      background: rgba(232, 86, 0, 0.10);
    }
  }
}
